@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    margin-block: 0.25em;
  }

  *::-webkit-scrollbar-track {
    background-color: gray;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #27272a;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #234c63;
  }
}
